{% extends 'base.html' %}
{% block body %}

<!--TODO: ajouter une condition : si pas de report -> pas de refresh (sinon bug pour les reports statiques)-->

<h1 id="main-page-title">PCVS reporting interface</h1>

<p>Welcome to this front page. From here, you may be able to select a Run (in
progress or completed) to visualize aggregated results. Note that if only one
session is available, you may be redirected to the Session page directly.
</p>
<h3 id="session_count"></h3>

<script type="text/javascript">

function refresh(){
	$.getJSON("/?render=json", function(resp){
		$('#theTable').DataTable({
			bDestroy: true,
			responsive: true,
			order: [[0, 'desc']],
			paging: true,
			lengthMenu: [10, 50, 100, -1],
			data: resp,
			columnDefs: [
				{targets: [0], "cellType": "th"},
				{targets: [0, 1, 5], "className": "dt-body-center"},
				{targets: [2, 3, 4], "className": "dt-body-right"}
			],
			columns: [
				{"responsivePriority": 1, "title": "Session ID", "class": "center", "data": 'sid', "render": function(d, tr, r){
					return "<a href='/run/"+d+"'>"+d+"</a>"
			}},
				{"responsivePriority": 2, "title": "State", "class": "center", "data": 'state'},
				{"responsivePriority": 5, "title": "Successes", "data": 'count', "render": function(d, t, s){return d["2"];}},
				{"responsivePriority": 3, "title": "Failures", "data": 'count', "render": function(d, t, s){return d["3"];}},
				{"responsivePriority": 6, "title": "Other", "data": 'count', "render": function(d, t, s){return d["0"]+d["1"]+d["4"]+d["5"];}},
				{"responsivePriority": 4, "title": "Build path", "data": 'path'},
			]
			});
			
		}).done(function(){
		page_ready()
	})
		$("#theTable").on('click', 'tbody tr', function(){
	})
}
	
$(document).ready(function(){
	page_waiting();
	refresh();
});
var timeout = setInterval(refresh, 2000);
</script>

<table id="theTable" class="display" style="width:100%">
</table>

{% endblock %}
