{% extends 'base.html' %}
{% block body %}

<!--TODO: ajouter une condition : si pas de report -> pas de refresh (sinon bug pour les reports statiques)-->

<h1 id="main-page-title">PCVS reporting interface</h1>

<p>Welcome to this front page. From here, you may be able to select a Run (in
progress or completed) to visualize aggregated results. Note that if only one
session is available, you may be redirected to the Session page directly.
</p>
<h3 id="session_count"></h3>

<script type="text/javascript">

var pause = false;

function init_the_table(){

	$.getJSON("/?render=json", function(resp){
		$('#theTable').DataTable({
			bDestroy: true,
			responsive: true,
			order: [[0, 'desc']],
			paging: true,
			pageLength: -1,
			lengthMenu: [10, 50, 100, -1],
			data: resp,
			columnDefs: [
				{targets: [0], "cellType": "th"},
				{targets: [0, 1, 5], "className": "dt-body-center"},
				{targets: [2, 3, 4], "className": "dt-body-right"}
			],
			columns: [
				{"responsivePriority": 1, "title": "Session ID", "class": "center", "data": 'sid', "render": function(d, tr, r){
					return "<a href='/run/"+d+"'>"+d+"</a>"
			}},
				{"responsivePriority": 2, "title": "State", "class": "center", "data": 'state'},
				{"responsivePriority": 5, "title": "Successes", "data": 'count', "render": function(d, t, s){return d["SUCCESS"];}},
				{"responsivePriority": 3, "title": "Failures", "data": 'count', "render": function(d, t, s){return d["FAILURE"];}},
				{"responsivePriority": 6, "title": "Other", "data": 'count', "render": function(d, t, s){return d["ERR_DEP"]+d["ERR_OTHER"];}},
				{"responsivePriority": 4, "title": "Info", "data": 'info'},
			]
			});
			
		}).done(function(){
		page_ready()
	})
}

function togglePause()
{
	//trigger the refresh again
	pause = !pause
	if(!pause)
		init_the_table();
}

function refresh_the_table()
{
	if(!pause)
	{
		$.getJSON("/?render=json", function(resp){
			var table = $("#theTable").DataTable();
			console.log(JSON.stringify(resp));
			for(k in resp)
			{
				row_id = table.columns(0).data().eq(0).indexOf(resp[k]["sid"]);
				if(row_id == -1)
					table.row.add(resp[k]);
				else
					table.row(row_id).data(resp[k]);
			}
			table.draw();
		}).done(function(){
			setTimeout(refresh_the_table, 5000);
		});
	}
}
	
$(document).ready(function(){
	page_waiting();
	init_the_table();
	setTimeout(init_the_table, 5000);
});
</script>

<button type="button" class="btn btn-primary" onclick="togglePause()">Play/Pause</button>
<table id="theTable" class="display" style="width:100%">
</table>

{% endblock %}
