{% extends 'base.html' %}
{% block body %}

<!--TODO: ajouter une condition : si pas de report -> pas de refresh (sinon bug pour les reports statiques)-->

<h1 id="main-page-title">PCVS reporting interface</h1>

<p>Welcome to this front page. From here, you may be able to select a Run (in
progress or completed) to visualize aggregated results. Note that if only one
session is available, you may be redirected to the Session page directly.
</p>
<h3 id="session_count"></h3>

<script type="text/javascript">

function refresh(){
	$.getJSON("/?render=json", function(resp){
		container = document.getElementById('sessions')
		$("#session_count").html("Number of sessions: "+Object.keys(resp).length)
		for(const session in resp) {
			$("#sessions").append('<div class="col-sm-3"><div class="card text-center"><div class="card-body"><a href="/run/'+session+'"><h4 class="card-title">#'+session+'</h4><p class="card-text">Output: '+resp[session]['path']+'</p></div></div>'
			)
		}
	}).done(function(){
		page_ready()
	})
}
	
$(document).ready(function(){
	page_waiting();
	refresh();
});
//var timeout = setInterval(refresh, 2000);
</script>

<div id="sessions" class="row"></div>

{% endblock %}
