{% extends 'base.html' %}
{% block body %}

<!--TODO: ajouter une condition : si pas de report -> pas de refresh (sinon bug pour les reports statiques)-->

<script language="javascript" type="text/javascript">
	function refresh(){
		metadata = $.getJSON("/run/{{sid}}?render=json", function(resp){
			document.getElementById("labelnumber").textContent = resp.label
			document.getElementById("tagnumber").textContent = resp.tag
			document.getElementById("testnumber").textContent = resp.test
			document.getElementById("config-block").textContent = JSON.stringify(resp.config, undefined, 2)
		}).done(function(){
			page_ready()
		})
	}
	$(document).ready(function(){
		page_waiting();
		refresh();
	});
	//var timeout = setInterval(refresh, 2000)
</script>

<h1 id="main-page-title">PCVS reporting interface</h1>

<p>This mini-webserver gathers validation results processed from <code>{{ main_directory }}</code>
The content of this main page is still in progress. Here a short list of pages already accessible:
<ul>
	<li><a href="/run/{{sid}}/labels/list">Label-based results</a></li>
	<li><a href="/run/{{sid}}/tags/list">Tag-based results</a></li>
	<!--<li><a href="/run/{{sid}}/iterators/list">Criterion-based results</a></li>-->
	<li><a href="/run/{{sid}}/status/detail?name=FAILURE">Failure-only results</a></li>
</ul>
</p>

<div id="stat_cards" class="row">
<div class="col-sm-4"><div class="card text-center"><div class="card-body">
<h4 id="testnumber" class="card-title">{{"{:,}".format(nb_tests)}}</h4>
<p class="card-text">Tests in Total</p>
</div></div></div>

<div class="col-sm-4"><div class=" card text-center"><div class="card-body">
<h4 id="tagnumber" class="card-title">{{"{:,}".format(nb_tags)}}</h4>
<p class="card-text">Unique Tags</p>
</div></div></div>

<div class="col-sm-4"><div class=" card text-center"><div class="card-body">
<h4 id="labelnumber" class="card-title">{{"{:,}".format(nb_labels)}}</h4>
<p class="card-text">Distinct Labels</p>
</div></div></div>
</div>

<div class="config-display">
<p>Configuration:</p>
<pre><code id="config-block"></code></pre>
</div>

{% endblock %}
